<script type="text/javascript" src="js/jquery_3_3_1.js"></script>
<link rel="stylesheet" type="text/css" href="css/datatables.min.css">
<script type="text/javascript" charset="utf8" src="js/datatables.min.js"></script>
<!-- main css and js -->
<style type="text/css">
	input[type=text] {
		border: none;
		border-bottom: 1px solid #FF0000;
	}

	.input_nombre {
		padding-left: 18px;
		background-image: url(../img/number.png);
		background-repeat: no-repeat;
		background-position: left;
	}

	button {
		text-decoration: none;
		font-family: Verdana, Arial;
		font-weight: bold;
		font-size: 11 px;
		border-radius: 4px 4px 4px 4px;
		cursor: pointer;
		height: 40px;
	}

	.btn_action {
		background-color: #5bd39a;
		color: white;
		border: 2px solid #5bd39a;
	}

	.btn_action:hover {
		background-color: White;
		color: #5bd39a;
		border: 2px solid #5bd39a;
		transition-duration: 2s;
	}

	.btn_save {
		background-color: #ff0000;
		color: white;
		border: 2px solid #ff0000;
	}

	.btn_save:hover {
		background-color: White;
		color: #ff0000;
		border: 2px solid #ff0000;
		transition-duration: 1s;
	}

	.hide {
		display: none;
	}
</style>
<script language="JavaScript">

	var aOfActeurs = [];
	aOfActeurs[0] = [];
	aOfActeurs[0]["id_acteur"] = 11;
	aOfActeurs[0]["nom_acteur"] = "Spider";
	aOfActeurs[0]["prenom_acteur"] = "Cochon";
	aOfActeurs[0]["nationalite_acteur"] = "Cochon";
	aOfActeurs[0]["age_acteur"] = "28";

	function constructTable() {
		var i;

		var sHTML = "";
		sHTML += "<thead>";
		sHTML += "<tr>";
		sHTML += "<th>id_acteur</th>";
		sHTML += "<th>nom_acteur</th>";
		sHTML += "<th>prenom_acteur</th>";
		sHTML += "<th>nationalite_acteur</th>";
		sHTML += "<th>age_acteur</th>";
		sHTML += "<th>Editer</th>";
		sHTML += "<th>Supprimer</th>";
		sHTML += "</tr>";
		sHTML += "</thead>";
		sHTML += "<tbody>";

		for (i = 0; i < aOfActeurs.length; i++) {
			sHTML += "<tr>";
			sHTML += "<td>" + aOfActeurs[i]["id_acteur"] + "</td>";
			sHTML += "<td>" + aOfActeurs[i]["nom_acteur"] + "</td>";
			sHTML += "<td>" + aOfActeurs[i]["prenom_acteur"] + "</td>";
			sHTML += "<td>" + aOfActeurs[i]["nationalite_acteur"] + "</td>";
			sHTML += "<td>" + aOfActeurs[i]["age_acteur"] + "</td>";
			sHTML += "<td onClick=\"editActeur(" + i + ")\">Editer</td>";
			sHTML += "<td onClick=\"supprimActeur(" + i + ")\">Supprimer</td>";
			sHTML += "</tr>";
		}

		sHTML += "</tbody>";
		$('#table_acteurs').html(sHTML);
	}

	function rebuildDatable() {
		$('#table_acteurs').html("");
		tables.clear();
		tables.destroy();
		constructTable();
		tables = $('#table_acteurs').DataTable(configuration);
	}

	function clearForm() {
		$('#id_acteur').val("");
		$('#nom_acteur').val("");
		$('#prenom_acteur').val("");
		$('#nationalite_acteur').val("");
		$('#age_acteur').val("");
		$('#btn_ajouter').show();
		$('#btn_modifier').hide();
		$('#btn_annuler').hide();
	}

	function ajoutActeur() {
		var iLongueur = aOfActeurs.length;
		aOfActeurs[iLongueur] = [];
		aOfActeurs[iLongueur]["id_acteur"] = $('#id_acteur').val();
		aOfActeurs[iLongueur]["nom_acteur"] = $('#nom_acteur').val();
		aOfActeurs[iLongueur]["prenom_acteur"] = $('#prenom_acteur').val();
		aOfActeurs[iLongueur]["nationalite_acteur"] = $('#nationalite_acteur').val();
		aOfActeurs[iLongueur]["age_acteur"] = $('#age_acteur').val();
		rebuildDatable();
		clearForm();
	}

	function majActeur() {
		aOfActeurs[iIndiceEditionEncours]["id_acteur"] = $('#id_acteur').val();
		aOfActeurs[iIndiceEditionEncours]["nom_acteur"] = $('#nom_acteur').val();
		aOfActeurs[iIndiceEditionEncours]["prenom_acteur"] = $('#prenom_acteur').val();
		aOfActeurs[iIndiceEditionEncours]["nationalite_acteur"] = $('#nationalite_acteur').val();
		aOfActeurs[iIndiceEditionEncours]["age_acteur"] = $('#age_acteur').val();
		rebuildDatable();
		clearForm();
	}

	function supprimActeur(iIndiceSuppr) {
		for (var i = iIndiceSuppr; i < (aOfActeurs.length - 1); i++) {
			aOfActeurs[i] = aOfActeurs[i + 1];
		}
		aOfActeurs.length--;
		rebuildDatable();
		clearForm();
	}

	var iIndiceEditionEncours;
	function editActeur(iIndiceEdit) {
		iIndiceEditionEncours = iIndiceEdit;
		$('#id_acteur').val(aOfActeurs[iIndiceEdit]["id_acteur"]);
		$('#nom_acteur').val(aOfActeurs[iIndiceEdit]["nom_acteur"]);
		$('#prenom_acteur').val(aOfActeurs[iIndiceEdit]["prenom_acteur"]);
		$('#nationalite_acteur').val(aOfActeurs[iIndiceEdit]["nationalite_acteur"]);
		$('#age_acteur').val(aOfActeurs[iIndiceEdit]["age_acteur"]);
		$('#btn_ajouter').hide();
		$('#btn_modifier').show();
		$('#btn_annuler').show();
	}

	// CONFIGURATION DATATABLE
	const configuration = {
		"stateSave": false,
		"order": [[2, "asc"]],
		"pagingType": "simple_numbers",
		"searching": true,
		"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Tous"]],
		"language": {
			"info": "Acteurs _START_ à _END_ sur _TOTAL_ sélectionnées",
			"emptyTable": "Aucun acteur",
			"lengthMenu": "_MENU_ acteurs par page",
			"search": "Rechercher : ",
			"zeroRecords": "Aucun résultat de recherche",
			"paginate": {
				"previous": "Précédent",
				"next": "Suivant"
			},
			"sInfoFiltered": "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
			"sInfoEmpty": "Acteurs 0 à 0 sur 0 sélectionnée",
		},
		"columns": [
			{
				"orderable": true
			},
			{
				"orderable": true
			},
			{
				"orderable": true
			},
			{
				"orderable": false
			},
			{
				"orderable": false
			},
			{
				"orderable": false
			}
		],
		'retrieve': true
	};

	var tables;
	$(document).ready(function () {
		// INIT DATATABLE
		// Si je souhaite avoir par défaut autre que les 10 résultats par défaut au chargement
		// tables.page.len(10).draw();
		constructTable();
		tables = $('#table_acteurs').DataTable(configuration);
	});

</script>

<table id="table_acteurs" border="1">
</table>
<p>id_acteur : <input type="text" name="id_acteur" id="id_acteur"></p>
<p>nom_acteur : <input type="text" name="nom_acteur" id="nom_acteur"></p>
<p>prenom_acteur : <input type="text" name="prenom_acteur" id="prenom_acteur"></p>
<p>nationalite_acteur : <input type="text" name="nationalite_acteur" id="nationalite_acteur"></p>
<p>age_acteur : <input type="text" name="age_acteur" id="age_acteur"></p>
<p>
	<button onClick="ajoutActeur()" class="btn_action" id="btn_ajouter">AJOUTER</button>
	&nbsp;&nbsp;&nbsp;
	<button onClick="majActeur()" class="btn_action hide" id="btn_modifier">MODIFIER</button>
	&nbsp;&nbsp;&nbsp;
	<button onClick="clearForm()" class="btn_save hide" id="btn_annuler">ANNULER</button>
</p>