<script type="text/javascript" src="js/jquery_3_3_1.js"></script>
<link rel="stylesheet" type="text/css" href="css/datatables.min.css">
<script type="text/javascript" charset="utf8" src="js/datatables.min.js"></script>
<!-- main css and js -->
<style type="text/css">
	/* Style input text general */
	input[type=text] {
		border: none;
		border-bottom: 1px solid #FF0000;
	}

	/* Style input date general */
	input[type=date] {
		border: none;
		border-bottom: 1px solid #FF0000;
	}

	/* Style input nombre general */
	.input_nombre {
		padding-left: 18px;
		background-image: url(../img/number.png);
		background-repeat: no-repeat;
		background-position: left;
	}

	/* Style button general */
	button {
		text-decoration: none;
		font-family: Verdana, Arial;
		font-weight: bold;
		font-size: 11 px;
		border-radius: 4px 4px 4px 4px;
		cursor: pointer;
		height: 40px;
	}

	/* Style button action general */
	.btn_action {
		background-color: #5bd39a;
		color: white;
		border: 2px solid #5bd39a;
	}

	/* Style button action over mouse general */
	.btn_action:hover {
		background-color: White;
		color: #5bd39a;
		border: 2px solid #5bd39a;
		transition-duration: 2s;
	}

	/* Style button save general */
	.btn_save {
		background-color: #ff0000;
		color: white;
		border: 2px solid #ff0000;
	}

	/* Style button save over mouse general */
	.btn_save:hover {
		background-color: White;
		color: #ff0000;
		border: 2px solid #ff0000;
		transition-duration: 1s;
	}

	/* Style hide general */
	.hide {
		display: none;
	}

	/* Style modal saving in progress */
	#divModalSaving {
		background-image: url(images/chargement.gif);
		background-repeat: no-repeat;
		background-position: center;
		z-index: 1000;
	}

	/* Style modal all space */
	.modalChanged {
		display: none;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 1000;
	}
</style>
<script language="JavaScript">

	/**
	* detect IE
	* returns version of IE or false, if browser is not Internet Explorer or Edge
	*/
	function detectIEorSafari() {
		var ua = window.navigator.userAgent;

		var msie = ua.indexOf('MSIE ');
		if (msie > 0) {
			// IE 10 or older
			return true;
		}

		var trident = ua.indexOf('Trident/');
		if (trident > 0) {
			// IE 11
			return true;
		}

		var edge = ua.indexOf('Edge/');
		if (edge > 0) {
			// Edge (IE 12+)
			return true;
		}

		var safari = ua.indexOf('Safari/');
		var chrome = ua.indexOf('Chrome/');
		if ((safari > 0) && (chrome == -1)) {
			// Safari
			return true;
		}

		// other browser
		return false;
	}

	/**
	 * Convert specials HTML entities HTML in character
	 */
	function htmlspecialchars_decode(str) {
		if (typeof (str) == "string") {
			str = str.replace(/&amp;/g, "&");
			str = str.replace(/&quot;/g, "\"");
			str = str.replace(/&#039;/g, "'");
			str = str.replace(/&lt;/g, "<");
			str = str.replace(/&gt;/g, ">");
		}
		return str;
	}

	/**
	 * public aOfActeurs is used to store all datas of actors
	 * @var array
	 */
	var aOfActeurs = [];

	/**
	 * Get Actors from database
	 *
	 * if OK add actors to array aOfActeurs
	 *
	 * if OK then build table and call datatable
	 */
	function loadActeurs() {
		$('#divModalSaving').show();
		var datas = {
			page: "liste_acteur",
			bJSON: 1
		}
		$.ajax({
			type: "POST",
			url: "route.php",
			async: true,
			data: datas,
			dataType: "json",
			cache: false,
		})
			.done(function (result) {
				console.log(result);
				var iActeur = 0;
				for (var ligne in result) {
					aOfActeurs[iActeur] = [];
					aOfActeurs[iActeur]["id_acteur"] = result[ligne]["id_acteur"];
					aOfActeurs[iActeur]["nom_acteur"] = htmlspecialchars_decode(result[ligne]["nom_acteur"]);
					aOfActeurs[iActeur]["prenom_acteur"] = htmlspecialchars_decode(result[ligne]["prenom_acteur"]);
					aOfActeurs[iActeur]["nationalite_acteur"] = htmlspecialchars_decode(result[ligne]["nationalite_acteur"]);
					aOfActeurs[iActeur]["age_acteur"] = result[ligne]["age_acteur"];
					iActeur++;
				}
				// INIT DATATABLE
				// Si je souhaite avoir par défaut autre que les 10 résultats par défaut au chargement
				// tables.page.len(10).draw();
				constructTable();
				tables = $('#table_acteurs').DataTable(configuration);
				$('#divModalSaving').hide();
			})
			.fail(function (err) {
				alert('error : ' + err.status);
			});
	}

	/**
	 * Parse array aOfActeurs and build table HTML
	 */
	function constructTable() {
		var i;

		var sHTML = "";
		sHTML += "<thead>";
		sHTML += "<tr>";
		sHTML += "<th>id_acteur</th>";
		sHTML += "<th>nom_acteur</th>";
		sHTML += "<th>prenom_acteur</th>";
		sHTML += "<th>nationalite_acteur</th>";
		sHTML += "<th>age_acteur</th>";
		sHTML += "<th>Editer</th>";
		sHTML += "<th>Supprimer</th>";
		sHTML += "</tr>";
		sHTML += "</thead>";
		sHTML += "<tbody>";

		for (i = 0; i < aOfActeurs.length; i++) {
			sHTML += "<tr>";
			sHTML += "<td>" + aOfActeurs[i]["id_acteur"] + "</td>";
			sHTML += "<td>" + aOfActeurs[i]["nom_acteur"] + "</td>";
			sHTML += "<td>" + aOfActeurs[i]["prenom_acteur"] + "</td>";
			sHTML += "<td>" + aOfActeurs[i]["nationalite_acteur"] + "</td>";
			sHTML += "<td>" + aOfActeurs[i]["age_acteur"] + "</td>";
			sHTML += "<td onClick=\"editActeur(" + i + ")\">Editer</td>";
			sHTML += "<td onClick=\"supprimActeur(" + i + ")\">Supprimer</td>";
			sHTML += "</tr>";
		}

		sHTML += "</tbody>";
		$('#table_acteurs').html(sHTML);
	}

	/**
	 * clear table HTML
	 * 
	 * clear and destroy datatable
	 * 
	 * build table and call datatable
	 * 
	 */
	function rebuildDatable() {
		tables.clear();
		tables.destroy();
		constructTable();
		tables = $('#table_acteurs').DataTable(configuration);
	}

	/**
	 * clear HTML Form
	 * 
	 */
	function clearForm() {
		$('#id_acteur').val("");
		$('#nom_acteur').val("");
		$('#prenom_acteur').val("");
		$('#nationalite_acteur').val("");
		$('#age_acteur').val("");
		$('#btn_ajouter').show();
		$('#btn_modifier').hide();
		$('#btn_annuler').hide();
	}

	/**
	 * add an actor in database
	 * 
	 * build table and call datatable
	 * 
	 */
	function ajoutActeur() {
		$('#divModalSaving').show();
		var datas = {
			page: "save_acteur",
			bJSON: 1,
			nom_acteur: $('#nom_acteur').val(),
			prenom_acteur: $('#prenom_acteur').val(),
			nationalite_acteur: $('#nationalite_acteur').val(),
			age_acteur: $('#age_acteur').val(),
		}
		$.ajax({
			type: "POST",
			url: "route.php",
			async: true,
			data: datas,
			dataType: "json",
			cache: false,
		})
			.done(function (result) {
				if (result[0]["error"] != "") {
					$('#divModalSaving').hide();
					alert("Erreur lors de l'ajout de votre film. Vous allez être déconnecté.");
					self.location.href = "route.php?page=logout"
				} else {
					var iLongueur = aOfActeurs.length;
					aOfActeurs[iLongueur] = [];
					aOfActeurs[iLongueur]["id_acteur"] = result[0]["id_acteur"];
					aOfActeurs[iLongueur]["nom_acteur"] = $('#nom_acteur').val();
					aOfActeurs[iLongueur]["prenom_acteur"] = $('#prenom_acteur').val();
					aOfActeurs[iLongueur]["nationalite_acteur"] = $('#nationalite_acteur').val();
					aOfActeurs[iLongueur]["age_acteur"] = $('#age_acteur').val();
					rebuildDatable();
					clearForm();
					$('#divModalSaving').hide();
				}
			})
			.fail(function (err) {
				console.log('error : ' + err.status);
				alert("Erreur lors de l'ajout de votre acteur. Vous allez être déconnecté.");
				self.location.href = "route.php?page=logout"
			});
	}

	/**
	 * Update an actor in database
	 * 
	 * build table and call datatable
	 * 
	 */
	function majActeur() {
		$('#divModalSaving').show();
		var datas = {
			page: "update_acteur",
			bJSON: 1,
			id_acteur: $('#id_acteur').val(),
			nom_acteur: $('#nom_acteur').val(),
			prenom_acteur: $('#prenom_acteur').val(),
			nationalite_acteur: $('#nationalite_acteur').val(),
			age_acteur: $('#age_acteur').val(),
		}
		$.ajax({
			type: "POST",
			url: "route.php",
			async: true,
			data: datas,
			dataType: "json",
			cache: false,
		})
			.done(function (result) {
				if (result[0]["error"] != "") {
					$('#divModalSaving').hide();
					alert("Erreur lors de la modification de votre film. Vous allez être déconnecté.");
					self.location.href = "route.php?page=logout"
				} else {
					aOfActeurs[iIndiceEditionEncours]["id_acteur"] = $('#id_acteur').val();
					aOfActeurs[iIndiceEditionEncours]["nom_acteur"] = $('#nom_acteur').val();
					aOfActeurs[iIndiceEditionEncours]["prenom_acteur"] = $('#prenom_acteur').val();
					aOfActeurs[iIndiceEditionEncours]["nationalite_acteur"] = $('#nationalite_acteur').val();
					aOfActeurs[iIndiceEditionEncours]["age_acteur"] = $('#age_acteur').val();
					rebuildDatable();
					clearForm();
					$('#divModalSaving').hide();
				}
			})
			.fail(function (err) {
				console.log('error : ' + err.status);
				alert("Erreur lors de la modification de votre acteur. Vous allez être déconnecté.");
				self.location.href = "route.php?page=logout"
			});
	}

	/**
	 * delete an actor in database
	 * 
	 * build table and call datatable
	 * 
	 */
	function supprimActeur(iIndiceSuppr) {
		$('#divModalSaving').show();
		var datas = {
			page: "supprime_acteur",
			bJSON: 1,
			id_acteur: aOfActeurs[iIndiceSuppr]["id_acteur"]
		}
		$.ajax({
			type: "POST",
			url: "route.php",
			async: true,
			data: datas,
			dataType: "json",
			cache: false,
		})
			.done(function (result) {
				if (result[0]["error"] != "") {
					$('#divModalSaving').hide();
					alert("Erreur lors de la suppression de votre acteur. Vous allez être déconnecté.");
					self.location.href = "route.php?page=logout"
				} else {
					for (var i = iIndiceSuppr; i < (aOfActeurs.length - 1); i++) {
						aOfActeurs[i] = aOfActeurs[i + 1];
					}
					aOfActeurs.length--;
					rebuildDatable();
					clearForm();
					$('#divModalSaving').hide();
				}
			})
			.fail(function (err) {
				console.log('error : ' + err.status);
				alert("Erreur lors de la suppression de votre acteur. Vous allez être déconnecté.");
				self.location.href = "route.php?page=logout"
			});
	}

	/**
	 * Edit an actor to the form
	 * 
	 */
	var iIndiceEditionEncours;
	function editActeur(iIndiceEdit) {
		iIndiceEditionEncours = iIndiceEdit;
		$('#id_acteur').val(aOfActeurs[iIndiceEdit]["id_acteur"]);
		$('#nom_acteur').val(aOfActeurs[iIndiceEdit]["nom_acteur"]);
		$('#prenom_acteur').val(aOfActeurs[iIndiceEdit]["prenom_acteur"]);
		$('#nationalite_acteur').val(aOfActeurs[iIndiceEdit]["nationalite_acteur"]);
		$('#age_acteur').val(aOfActeurs[iIndiceEdit]["age_acteur"]);
		$('#btn_ajouter').hide();
		$('#btn_modifier').show();
		$('#btn_annuler').show();
	}

	/**
	 * Configuration Datatable
	 * 
	 */
	const configuration = {
		"stateSave": false,
		"order": [[1, "asc"]],
		"pagingType": "simple_numbers",
		"searching": true,
		"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Tous"]],
		"language": {
			"info": "Acteurs _START_ à _END_ sur _TOTAL_ sélectionnées",
			"emptyTable": "Aucun acteur",
			"lengthMenu": "_MENU_ acteurs par page",
			"search": "Rechercher : ",
			"zeroRecords": "Aucun résultat de recherche",
			"paginate": {
				"previous": "Précédent",
				"next": "Suivant"
			},
			"sInfoFiltered": "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
			"sInfoEmpty": "Acteurs 0 à 0 sur 0 sélectionné",
		},
		"columns": [
			{
				"orderable": true
			},
			{
				"orderable": true
			},
			{
				"orderable": true
			},
			{
				"orderable": true
			},
			{
				"orderable": false
			},
			{
				"orderable": false
			},
			{
				"orderable": false
			}
		],
		'retrieve': true
	};

	/**
	 * Init start
	 * 
	 */
	var tables;
	$(document).ready(function () {
		loadActeurs();
	});

</script>

<table id="table_acteurs" border="1">
</table>
<p>id_acteur : <input type="text" name="id_acteur" id="id_acteur" readonly></p>
<p>nom_acteur : <input type="text" name="nom_acteur" id="nom_acteur"></p>
<p>prenom_acteur : <input type="text" name="prenom_acteur" id="prenom_acteur"></p>
<p>nationalite_acteur : <input type="text" name="nationalite_acteur" id="nationalite_acteur"></p>
<p>age_acteur : <input type="text" name="age_acteur" id="age_acteur"></p>
<p>
	<button onClick="ajoutActeur()" class="btn_action" id="btn_ajouter">AJOUTER</button>
	&nbsp;&nbsp;&nbsp;
	<button onClick="majActeur()" class="btn_action hide" id="btn_modifier">MODIFIER</button>
	&nbsp;&nbsp;&nbsp;
	<button onClick="clearForm()" class="btn_save hide" id="btn_annuler">ANNULER</button>
</p>

<!-- CREATION MODAL ENREGISTREMENT EN COURS -->
<div class="modalChanged" id="divModalSaving">
</div>